{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Twitter Senitment Analysis Results</h1>
  </div>
  {% with sentiment_type='google', sentiment_percentage=google_sentiment_percentage, query=request.args.get('search') %}
      {% include "chart.html" %}
  {% endwith %}
  {% with sentiment_type='textblob', sentiment_percentage=text_blob_percentage, query=request.args.get('search') %}
      {% include "chart.html" %}
  {% endwith %}
  <ul>
  	{% for item in data %}
  		<li>{{ item.text }}</li>
  			<ul>
  				<li>Google - Score: <b>{{ item.google.score }}</b>, Magnitude: {{ item.google.magnitude }}</li>
  				<li>TextBlob - Polarity: <b>{{ item.textblob.polarity }}</b>, Subjectivity: {{ item.textblob.subjectivity }}</li>
  			</ul>
  	{% endfor %}
  </ul>
{% endblock %}